* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;

}



#canvas1 {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
}

.nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
  border-bottom: #8c5523;
  border-bottom-style: solid;
  border-bottom-width: thin;
  background-color: #8c5523;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  /* font-weight: bold; */
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 85vh;
    top: 8vh;
    background-color: #8c5523;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    /* border-left: #8c5523;
  border-left-style: solid;
  border-left-width: thin; */
  }

  .nav-links li{
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}


.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  
}

.container {
  width: 100%;
  height: 100%;
 
}

body {
  /* overflow: hidden; */
}

p{
  color: #8c5523;
}

#about {
  display: flex;
  align-items: center;
}

.about-me1{
  width: 70%;
  line-height: 20px;
  padding-bottom: 20px;
  text-align: start;
}

.about-me2{
  width: 70%;
  line-height: 20px;
  padding-bottom: 20px;
  text-align: start;
  padding-bottom: 100px;
}

.wrapper {
  display: flex;
  width: 100%;
justify-content: space-around;
margin-bottom: 20px;
align-items: center;
justify-content: space-evenly;
}





.card {
  width: 100px;
  height: 140px;
  padding: 2rem 1rem;
  background-color: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(20px);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(140,85,35,1), rgb(206, 194, 194, 0));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
  
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

@media screen and (max-width: 768px) {
  .card {
    height: 100px;
    width: 70px;
  }
}

.info h1 {
  font-size: 20px;
}





footer {
  text-align: center;
  background-color: #8c5523;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  flex-direction: column;
  height: 15vh;
  z-index: 1;
}

footer p {
  color: white;
  font-size: 12px;
}

footer img {
  height: 30px;
  width: 30px;
  color: white;
}